stages:
    - deploy

job1:
    stage: deploy
    tags:
        - basic
    script:
        - hugo --theme=hyde-hyde --baseUrl="https://yf-gooo.github.io/" --buildDrafts
        - git clone "https://$CI_GITHUB_TOKEN@github.com/YF-Gooo/yf-gooo.github.io.git"
        - cd yf-gooo.github.io
        - rm -rf posts about portfolio img
        - cp -r ../public/* ./
        - git config user.name "YF-Gooo"
        - git config user.email "ucakyj1@gmail.com"
        - git add .
        - git commit -m "update site"
        - git push --set-upstream "https://$CI_GITHUB_TOKEN@github.com/YF-Gooo/yf-gooo.github.io.git"
    only:
        - master